.users {
    padding: 0 10px;
    font-size: 13px;
    overflow-y: scroll;
    height: 60vh;
}

.users .empty-list {
    height: 100%;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    text-align: center;
}

.users li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
    padding: 20px;
}

.users .title-id {
    padding-right: 5px;
    font-weight: bold;
}


.command-user {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users .command-user svg {
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition: .2s ease-in;
}

.users .command-user svg:first-child:hover {
    color: #00125b;
    transform: scale(1.1);
}

.users .command-user svg:last-child:hover {
    color: red;
    transform: scale(1.1);
}

@media(max-width: 480px) {
    .users li {
        padding: 20px 5px;
        align-items: center;
    }
}

