.confirm-modal {
    width: 270px;
    height: 90px;
    padding: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 3px;
    right: 90px;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 2px 5px #80808068);
    animation: blow .5s ease-in-out;
}

@keyframes blow {
    0% {
        opacity: 0;
        visibility: hidden;
        /*transform: scale(0.0);*/
        transform: translateX(100%);
    }
    70% {
        opacity: 1;
        visibility: visible;
       /* transform: scale(1.2);*/
    }
    100% {
       /* transform: scale(1.1);*/
       transform: translateX(0);
    }
}

.confirm-modal svg {
    font-size: 30px;
    color: #ecaa00;
    filter: drop-shadow(0 0 2px #ffffff68);
}

.confirm-modal .btn-actions {
    display: flex;
    flex-direction: row;
}

.confirm-modal span {
    font-size: 12px;
}

.confirm-modal .btn-actions button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
}

.confirm-modal .btn-actions button:first-child {
    background-color: red;
    color: #fff;
    border: 1px solid red;
}