form {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 50px;
  text-align: center;
}

form svg {
  font-size: 60px;
  margin-bottom: 30px;
  color: #009acc;
}

form input, select, button {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 10px;
}

form button {
  background-color: #009acc;
  border: 1px solid #009acc;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  width: 150px;
  filter: drop-shadow(-2px 2px 1px #006d9153);
} 

@media(max-width: 480px) {
  form {
    padding: 40px 20px;
  }
}