.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation button {
  margin-left: 15px;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #15427a;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: .5s ease;
}

.navigation button:hover {
  background-color: #072953;
}

@media(max-width: 600px) {
  .navigation span {
    display: none;
  }
}