.page-login {
	display: flex;
	height: 100vh;

	.banner {
		width: 65%;
		@include bg-application(url('/img/image-sistema.jpg'), no-repeat, left, cover);
	}

	.login-container {
		width: 35%;
    background-color: #fff;
		@include alignment-items(flex, center, center);
		flex-direction: column;
		padding: 0 40px;

		.logo-container {
			margin-bottom: 40px;

			img {
				width: 80px;
			}
		}

		form {
			padding: 0 20px;
			width: 80%;
			text-align: center;

			button {
				margin-top: 20px;
				width: 30%;
				height: 40%;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				color: #fff;
				background-color: #009acc;
				border: 1px solid #009acc;
				border-radius: 20px;
				transition: .5s ease;
		    filter: drop-shadow(-2px 2px 1px #006d9153);

				&:hover {
					background-color: #006d91;
					border: 1px solid #006d91;
					filter: drop-shadow(-2px 2px 1px #006d9153);
				}
			}
		}

		p {
			margin-top: 80px;
			text-align: center;
			font-size: 0.8rem;
			color: #808080;
		}
	}


}
