@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);

/*-- variables --*/
:root {
  /*-- color variable --*/
  --primary-color: #fff;
  --primary-gray-theme: #808080;
  --primary-blue-theme: #009acc;
  --secondary-blue-theme: #15427a;
  --primary-main-bg: #f7f7f7;

  /*-- font-size variables --*/
  --secondary-font-text-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Nunito', sans-serif;
  font-size: .8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  max-width: 85%;
  margin: 0 auto;
}

/* --scrollbar */
::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 8px;
  background: #08b5ef;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
