.container-chat {
    display: flex;
}

.online-users, .message-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -2px 2px 5px #80808060;
    margin: 0 5px;
}

.online-users {
    width: 40%;
    padding: 30px;
}

.online-users h3 {
    font-weight: 500;  
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 20px;
}

.online-users .emptyList {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    height: 48vh;
}

.online-users .users {
    overflow-y: scroll;
    height: 48vh;
}

.online-users .users li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c0c0c0;
}

.online-users .users li .status {
    width: 10px;
    height: 10px;
    background-color: #13d413;
    border-radius: 100%;
    margin-right: 10px;
} 
.message-box {
    width: 60%;
    padding-bottom: 0;
}

.message-box .form-user-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-user-chat label {
    padding-right: 20px;
    font-size: 20px;
}

.form-user-chat input {
    font-size: 20px;
    color: #808080;
}

.form-user-chat > input, button {
    height: 40px;
    padding: 0;
    border-radius: 10px;
    border: none;
}

.form-user-chat button {
    color: #fff;
    background-color: #009acc;
    cursor: pointer;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.messages .chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 0 20px;    
}

.chat-box .chat-ballom {
    width: 200px;
    border: none;
    background-color: #d5d5d5;
    border-radius: 7px;
    margin: 4px 0;
    font-size: 12px;
    padding: 5px;
}

.chat-box .chat-ballom span {
    font-weight: bold;
}

.messages .write-field {
    height: 8%;
    width: 100%;
    padding: 0;
    border-top: 1px solid #c0c0c0;
}

.messages .write-field input {
    width: 93%;
    height: 100%;
    padding: 10px 12px;
    border: none;
}

.write-field button {
    width: 7%;
    height: 100%;
    background-color: #009acc;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
}

@media(max-width: 1190px) {
    .form-user-chat {
        padding: 100px;
    }

    .form-user-chat input {
        padding: 0 10px;
        margin: 10px 0;
    }

    .form-user-chat button {
        font-size: 12px;
    }
}

@media(max-width: 800px) {
    .container-chat {
        flex-direction: column;
    }

    .online-users, .message-box {
        width: 100%;
        margin: 10px 0;
    }
}

@media(max-width: 500px) {
    .form-user-chat {
        flex-direction: column;
        padding: 100px 0;
        align-items: flex-start;
    }
}