.content-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

.size-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  line-height: 45px;
  color: #15427a;
  letter-spacing: 1px;
}

.content-home img {
  width: 500px;
  animation: slide 2000ms alternate;
}

@keyframes slide {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(40px);
  }
  100% {
    transform: translatex(0);
  }
}