
.page-login .login-container {
    width: 35%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.login-container form {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login-container .logo-container {
    text-align: center;
    margin-bottom: 40px;
}

.logo-container img {
    width: 80px;
}

.login-container input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.login-container p {
    margin-top: 80px;
    text-align: center;
    font-size: 13px;
    color: #808080;
}
