.base-input {
	border: 1px solid gray;
	border-radius: 8px;
	padding: 0 12px 0 0;
	height: 30px;
	margin-bottom: 5px;

	input {
		height: 100%;
		width: 95%;
		border: none;
		outline: none;
		font-size: 0.8rem;
	}
}
