.btn {
	padding: 8px 20px;
	border: 1px solid;
	border-radius: 8px;
	cursor: pointer;
}

//default blue button
.success-btn {
	margin-top: 20px;
	height: 38px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	background-color: #009acc;
	border: 1px solid #009acc;
	border-radius: 20px;
	transition: .5s ease;
	filter: drop-shadow(-2px 2px 1px #006d9153);

	&:hover {
		background-color: #006d91;
		border: 1px solid #006d91;
		filter: drop-shadow(-2px 2px 1px #006d9153);
	}
}
